
@{
    ViewData["Title"] = "Index";
}

<h1>Homework</h1>

<div class="row row-cols-1 row-cols-md-3 g-4" id="cards">
</div>
@section Css{
    <style>
        .carousel{
            height: 300px;
        }
        .object-fit-cover{
            height: 300px;
            object-position: center center;
        }
        .card-p{
            height:300px;
            text-align: justify;
        }
    </style>
}
@section Scripts{
    <script src="~/js/travel.js"></script>
    <script>
        const cards = document.querySelector("#cards");
        
        let cardsHtmlArr = spots.CommonFormat.Section.map((elem) => {
            const { RowNumber, REF_WP, CAT1, CAT2, SERIAL_NO, MEMO_TIME, stitle, xbody,
                avBegin, avEnd, idpt, address, xpostDate, file, langinfo, POI, info, longitude, latitude, MRT } = elem;
            
            const imgs = file.img;
            let imgsHtml = "";

            let carouselItemHtml = (active, img, Descrip) => {
                return (`
                        <div class="carousel-item ${active}">
                              <img src="${img}" class="w-100 object-fit-cover" alt="${Descrip}">
                        </div>
                        `)
            };

            if (Array.isArray(imgs)) {                
                let imgsHtmlArr = imgs.map((img,index) => {
                    if (index) return carouselItemHtml("", img.text, img.description);
                    return carouselItemHtml("active", img.text, img.description);
                });
                imgsHtml = imgsHtmlArr.join("");
            }
            else if(typeof imgs == "object") {                
                imgsHtml = carouselItemHtml("active", imgs.text, imgs.description);
            };
        
            return (
                `
                <div class="col">
                    <div class="card">
                        <div id="carouselExample${RowNumber}" class="carousel slide ">
                            <div class="carousel-inner w-100 h-100">
                                 ${imgsHtml}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample${RowNumber}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample${RowNumber}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">${stitle}</h5>
                            <h6>${CAT2}</h6>
                            <p>${address}</p>
                            <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample${RowNumber}" aria-expanded="false" aria-controls="collapseExample">
                                介紹
                            </button>
                            <div class="collapse" id="collapseExample${RowNumber}">
                                <p class="overflow-auto card p-2 card-p">${xbody}</p>
                            </div>
                        </div>
                    </div>
                </div>
                 `
            );
        });

        cards.innerHTML = cardsHtmlArr.join("");

    // "RowNumber": "1",
    // "REF_WP": "10",
    // "CAT1": "景點",
    // "CAT2": "養生溫泉",
    // "SERIAL_NO": "2011051800000061",
    // "MEMO_TIME": "各業者不同，依據現場公告",
    // "stitle": "新北投溫泉區",
    // "xbody": "北投溫泉從日據時代便有盛名，深受喜愛泡湯的日人自然不會錯過，瀧乃湯、星乃湯、鐵乃湯就是日本人依照溫泉的特性與療效給予的名稱，據說對皮膚病、神經過敏、氣喘、風濕等具有很好的療效，也因此成為了北部最著名的泡湯景點之一。新北投溫泉的泉源為大磺嘴溫泉，泉質屬硫酸鹽泉，PH值約為3~4之間，水質呈黃白色半透明，泉水溫度約為50-90℃，帶有些許的硫磺味 。目前北投的溫泉旅館、飯店、會館大部分集中於中山路、光明路沿線以及北投公園地熱谷附近，總計約有44家，每一家都各有其特色，多樣的溫泉水療以及遊憩設施，提供遊客泡湯養生，而鄰近的景點也是非常值得造訪，例如被列為三級古蹟的三寶吟松閣、星乃湯、瀧乃湯以及北投第一家溫泉旅館「天狗庵」，都有著深遠的歷史背景，而北投公園、北投溫泉博物館、北投文物館、地熱谷等，更是遊客必遊的景點，來到北投除了可以讓溫泉洗滌身心疲憊，也可以順便了解到北投溫泉豐富的人文歷史。",
    // "avBegin": "2010/02/14",
    // "avEnd": "2015/12/11",
    // "idpt": "臺北旅遊網",
    // "address": "臺北市  北投區中山路、光明路沿線",
    // "xpostDate": "2015/12/11",
    // "file": {
    //     "img": [
    //         {
    //             "description": "北投溫泉溫泉博物館",
    //             "text": "http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg"
    //         },
    //         {
    //             "description": "新北投溫泉區",
    //             "text": "http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11002891.jpg"
    //         },
    //         {
    //             "description": "吟松閣_王能佑攝 (2)",
    //             "text": "http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D315/E70/F65/1e0951fb-069f-4b13-b5ca-2d09df1d3d90.JPG"
    //         },
    //         {
    //             "description": "吟松閣_王能佑攝",
    //             "text": "http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D260/E538/F274/e7d482ba-e3c0-40c3-87ef-3f2a1c93edfa.JPG"
    //         },
    //         {
    //             "description": "冷水坑公共浴室_王能佑攝",
    //             "text": "http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D919/E767/F581/9ddde70e-55c2-4cf0-bd3d-7a8450582e55.jpg"
    //         },
    //         {
    //             "description": "飯店溫泉_王能佑攝",
    //             "text": "http://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C1/D28/E891/F188/77a58890-7711-4ca2-aebe-4aa379726575.JPG"
    //         }
    //     ]
    // },
    // "langinfo": "10",
    // "POI": "Y",
    // "info": "新北投站下車，沿中山路直走即可到達公車：216、218、223、230、266、602、小6、小7、小9、、小22、小25、小26至新北投站下車",
    // "longitude": "121.503",
    // "latitude": "25.1364",
    // "MRT": "新北投"

    </script>
}

